/* container */
.timeline {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 100px;
  height: 75vh;
  max-height: 75vh;
}

/* timeline axis */
.timeline__axis {
  position: relative;
  height: 100%;
  display: flex;
}

.timeline__axis__labels,
.timeline__axis__segments {
  height: 100%;
}
.timeline__axis__labels {
  transform: translate(10px, -10px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.timeline__axis__segments {
  z-index: 0;
}
.timeline__axis__segment {
  width: 4px;
  background-color: var(--gray);
  position: relative;
  transition: background-image 0.5s ease, width 0.5s ease;
  z-index: 1;
}
.timeline__axis__segment__label {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content;
  column-gap: 0.5rem;
  align-items: center;
}
.timeline__axis__segment__label span {
  transition: transform 0.5s ease, font-weight 0.5s ease;
  width: 44px;
}
.timeline__axis__segment__circle {
  width: 16px;
  height: 16px;
  background-color: var(--gray);
  border-radius: 100%;
  transition: background-color 0.5s ease;
}
.timeline__axis__segment__gradient {
  background-image: linear-gradient(var(--red), var(--blue));
  height: 0;
  width: 4px;
  position: absolute;
  top: 0;
  transition: height 0.5s ease, background-image 0.5s ease;
}
.timeline__axis__segment__label__hovered span {
  font-weight: bold;
  transform: translate(-10px);
}

/* timeline data */
.timeline__data {
  display: flex;
  flex-direction: column;
}
.timeline__item {
  padding: var(--padding-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  position: relative;
  transition: transform 0.5s ease;
}
.timeline__item__description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}
.timeline__item__description span {
  color: var(--white);
}
.timeline__item__description span:first-child {
  color: var(--white);
  font-weight: bold;
}
.timeline__item img {
  height: 100%;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

.timeline__item__connector {
  position: absolute;
  left: -100px;
  width: 100px;
  border-top: 1px dashed var(--gray);
  top: 50%;
}
.timeline__item:hover .timeline__item__description {
  opacity: 1;
}
.timeline__item:hover img {
  transform: scale(0);
  opacity: 0;
}
.timeline__item:hover .timeline__item__connector {
  border-top: 1px dashed var(--blue);
}

.timeline__item__button {
  padding: 0;
}
.timeline__item__button .button {
  width: 100%;
  height: 100%;
}
