.text_body {
  color: var(--black);
  max-width: 40ch;
  font-size: 1rem;
  overflow: hidden;
  line-height: calc(1rem * 1.5);
}

.text_body span {
  color: var(--dark-gray);
  font-weight: 400;
}

.text_body__border {
  height: 2px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--gray);
}
