/* mobile */
@media (min-width: 0px) {
  .INTRO {
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    padding: 52px var(--padding-xs);
    display: flex;
    scroll-snap-align: start;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .INTRO {
    display: grid;
    grid-template-columns: minmax(300px, 40%) 50%;
    padding: var(--padding-s);
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .INTRO {
    display: grid;
    grid-template-columns: minmax(300px, 40%) 55%;
    padding: var(--padding-s);
  }
}
@media (min-width: 1025px) {
  .INTRO {
    padding: var(--padding-s) var(--padding-l);
    grid-template-columns: minmax(300px, 30%) 1fr 30%;
    grid-template-rows: 100%;
  }
}
/* huge */
@media (min-width: 1440px) {
  .INTRO {
    padding: var(--padding-s) var(--padding-xl);
  }
}

/* 

Left section with full name and title

*/
/* mobile */
@media (min-width: 0px) {
  .intro__name {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-s);
  }
  .intro__name span {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-block;
  }
  .intro__name__full_name {
    /* transition */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-1rem);
    opacity: 0;
  }
  .intro__name__title {
    /* transition */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(1rem);
    opacity: 0;
  }
  .intro__name .divider {
    height: 1px;
    width: calc(100vw - 2 * var(--padding-xl) - 200px);
    max-width: calc(1800px - 2 * var(--padding-xl));
    background-color: var(--white);
    margin: 1rem 0;
    /* transition */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translate(calc(-100% - var(--padding-xl)));
    opacity: 0;
  }
  .INTRO__initial .intro__name__full_name,
  .INTRO__initial .intro__name__title,
  .INTRO__initial .intro__name .divider {
    opacity: 1;
    transform: translate(0);
  }
  .INTRO__hide .intro__name__full_name,
  .INTRO__hide .intro__name__title,
  .INTRO__hide .intro__name .divider {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translate(-100%);
  }
  .INTRO__show .intro__name__full_name,
  .INTRO__show .intro__name__title,
  .INTRO__show .intro__name .divider {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translate(0%);
    transition-delay: 250ms;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tablet/laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .intro__name {
    position: relative;
    z-index: 0;
    padding: 0 var(--padding-s) 0 0;
  }
  .intro__name .divider {
    background-color: var(--dark-gray);
    transition: opacity 0.5s ease-in-out, transform 2s ease-in-out;
  }
} /* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .intro__name {
    position: relative;
    z-index: 0;
    padding: 0 var(--padding-s) 0 0;
  }
  .intro__name .divider {
    background-color: var(--dark-gray);
    transition: opacity 0.5s ease-in-out, transform 2s ease-in-out;
  }
}
@media (min-width: 1025px) {
}

/*

Middle section with photo

*/
/* mobile */
@media (min-width: 0px) {
  .intro__photo img {
    object-position: center;
  }
  .intro__photo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  .intro__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    object-position: bottom;
  }
  .intro__photo .overlay {
    transition: transform 0.5s ease-in-out;
    background-color: var(--black);
  }
  /* Initial animation */
  .INTRO__initial .overlay {
    transform: translate(110%);
    transition-delay: 800ms;
  }
  .INTRO__hide .overlay {
    transform: translate(0);
    transition-delay: 0ms;
  }
  .INTRO__show .overlay {
    transform: translate(110%);
    transition-delay: 250ms;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tablet/laptop */
@media (min-width: 769px) and (orientation: landscape) {
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
/* laptop/desktop */
@media (min-width: 1025px) {
}

/* 

Right section with nav. Hidden in smaller viewports.

*/
/* mobile */
@media (min-width: 0px) {
  .intro__nav {
    display: none;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tablet/laptop */
@media (min-width: 769px) and (orientation: landscape) {
} /* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
@media (min-width: 1025px) {
  .intro__nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    padding-left: var(--padding-s);
  }
  .intro__nav ul {
    background-color: var(--black);
    padding: 0 var(--padding-xs);
  }
  .intro__nav .nav_list__item {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translate(-1rem);
    pointer-events: none;
  }
  .INTRO__initial .intro__nav .nav_list__item {
    opacity: 1;
    transform: translate(0);
    transition-delay: 1800ms;
  }
  .INTRO__initial .intro__nav .nav_list__item:hover {
    opacity: 1;
    transform: translate(0, -2px);
    transition-delay: 0ms;
  }
  .INTRO__hide .intro__nav .nav_list__item {
    opacity: 0;
    transform: translate(100%);
  }
}
