/* mobile */
@media (min-width: 0px) {
  /* intro container */
  .INTRO {
    position: relative;
    padding: 0;
    padding-top: var(--mobile-header-height);
    background-color: var(--black);
    min-height: calc(100 * var(--vh));
    height: calc(100 * var(--vh));
  }
  /* intro name */
  .intro__name {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    left: var(--padding);
    top: calc(40 * var(--vh));
    bottom: 0;
    padding: var(--padding);
  }
  .intro__name .divider {
    width: 100%;
    margin: 0.75rem 0 1rem 0;
    height: 1px;
    background-color: var(--white);
  }
  /* intro photo */
  .intro__photo {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: 0;
  }
  .intro__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
}

/* mobile/tablet */
@media (min-width: 426px) {
}

/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  /* intro container */
  .INTRO {
    padding: 0;
    display: grid;
    grid-template-columns: 300px 60%;
    grid-template-rows: 100%;
    min-height: calc(100 * var(--vh));
  }
  /* intro name */
  .intro__name {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 0;
  }
  .intro__name .divider {
    width: calc(100 * var(--vw) - 2 * var(--padding));
    max-width: 1440px;
    background-color: var(--dark-gray);
  }
  /* intro photo */
  .intro__photo {
    padding: 1rem;
    z-index: 1;
  }
}

/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  /* intro container */
  .INTRO {
    padding: 0;
    display: grid;
    grid-template-columns: 300px 50%;
    grid-template-rows: 100%;
    min-height: calc(100 * var(--vh));
  }
  /* intro name */
  .intro__name {
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 0;
  }
  .intro__name .divider {
    width: calc(100 * var(--vw) - 2 * var(--padding));
    max-width: calc(1440px - 2 * var(--padding));
    background-color: var(--dark-gray);
  }
  /* intro photo */
  .intro__photo {
    padding: 1rem 0;
    z-index: 1;
  }
  /* intro nav */
  .intro__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem var(--padding);
    z-index: 1;
  }
  .intro__nav .NAV_BAR {
    background-color: var(--black);
    padding: 0 1rem;
    transform: translateY(-2px);
  }
}

/* laptop/desktop */
@media (min-width: 1025px) {
  /* intro container */
  .INTRO {
    padding: 0;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
  }
}

/* huge */
@media (min-width: 1440px) {
}
