.quote_container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  overflow: hidden;
}

.quote_container__border_left {
  width: 0.5rem;
  background-color: var(--blue);
  height: 100%;
  transform: translateY(-5rem);
}

.quote_container__text {
  padding: var(--padding-xs);
  transform: translateX(-1rem);
  opacity: 0;
}

.quote_container__text span {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: calc(1.5rem * 1.25);
}

.quote_container.show .quote_container__border_left {
  transition: transform 0.5s ease;
  transform: translateY(0);
}
.quote_container.show .quote_container__text {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .quote span {
    font-size: 1.25rem;
    line-height: calc(1.25rem * 1.25);
  }
}
