.button {
  all: unset;
  padding: 6px 12px;
  color: var(--white);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: transform 0.25s ease;
  border-radius: 25px;
  height: 52px;
}

.button:focus-visible {
  outline: 1px solid var(--pink);
}
.button span {
  color: var(--white);
  font-size: 14px;
  transition: color 0.25s ease;
}
.button .button__left_icon {
  margin-right: 8px;
  font-size: 1.25rem;
  background-image: linear-gradient(
    45deg,
    var(--green),
    var(--pink)
  ); /* Gradient definition */
  background-clip: text; /* Clip background to text */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent so the gradient shows through */
}
.button .button__right_icon {
  margin-left: 8px;
  font-size: 1.25rem;
  background-image: linear-gradient(
    45deg,
    var(--green),
    var(--pink)
  ); /* Gradient definition */
  background-clip: text; /* Clip background to text */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent so the gradient shows through */
}
.button * {
  z-index: 1;
}

.button__overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, var(--pink), var(--green) 90%);
  transition: transform 0.5s ease;
  transform: translate(-100%);
  opacity: 1;
}

.button:hover {
  border: 1px solid transparent;
}
.button:hover span {
  color: var(--black);
}
.button:hover .button__left_icon,
.button:hover .button__right_icon {
  background-image: linear-gradient(45deg, var(--black), var(--black));
}
.button:hover .button__overlay {
  transform: translate(0);
}
