/* mobile */
@media (min-width: 0px) {
  .ABOUT_ME_VISUAL_ITEM {
    height: 112px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 1rem;
    grid-template-rows: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }

  .ABOUT_ME_VISUAL_ITEM .overlay {
    position: initial;
  }
  .ABOUT_ME_VISUAL_ITEM__nielsen {
    background: linear-gradient(
      45deg,
      rgba(80, 48, 170, 1) 18%,
      rgba(48, 78, 105, 1) 50%,
      rgba(31, 44, 102, 1) 100%
    );
  }
  .ABOUT_ME_VISUAL_ITEM__tilt {
    background-color: var(--white);
  }
  .ABOUT_ME_VISUAL_ITEM__tilt span {
    color: var(--black);
  }
  .ABOUT_ME_VISUAL_ITEM__lewagon {
    background-color: #e71005;
  }
  .ABOUT_ME_VISUAL_ITEM__ucla {
    background-color: #0f7bb6;
  }
  .about_me__logo {
    height: 90%;
    width: 90%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
    transition: transform 0.25s ease-in-out;
  }
  .about_me__description {
    padding: 0.5rem;
    opacity: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .about_me__description__title {
    font-weight: bold;
  }
  .about_me__description__company,
  .about_me__description__date {
    font-weight: 500;
    font-size: 14px;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .ABOUT_ME_VISUAL_ITEM {
    height: 280px;
    width: 280px;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .ABOUT_ME_VISUAL_ITEM__nielsen {
    justify-self: flex-end;
  }
  .ABOUT_ME_VISUAL_ITEM__lewagon {
    justify-self: flex-end;
  }
  .ABOUT_ME_VISUAL_ITEM__ucla {
    justify-self: flex-start;
  }
  .ABOUT_ME_VISUAL_ITEM__tilt {
    justify-self: flex-start;
  }
  .ABOUT_ME_VISUAL_ITEM .overlay {
    position: absolute;
  }
  .ABOUT_ME_VISUAL_ITEM__button {
    justify-self: center;
    grid-area: 4 / 1 / 5 / 3;
    width: 100%;
    max-width: 56ch;
  }
  .about_me__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease-in-out;
    transform: translate(-100%);
  }
  .about_me__description__company,
  .about_me__description__date {
    font-size: 1rem;
  }
  .ABOUT_ME_VISUAL_ITEM:hover .about_me__description {
    transform: translate(0);
  }
  .ABOUT_ME_VISUAL_ITEM:hover .about_me__logo {
    transform: translate(125%);
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .ABOUT_ME_VISUAL_ITEM {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .ABOUT_ME_VISUAL_ITEM .overlay {
    position: absolute;
  }
  .about_me__logo {
    transition: transform 0.25s ease-in-out;
  }
  .about_me__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease-in-out;
    transform: translate(-100%);
  }
  .about_me__description__company,
  .about_me__description__date {
    font-size: 1rem;
  }
  .ABOUT_ME_VISUAL_ITEM:hover .about_me__description {
    transform: translate(0);
  }
  .ABOUT_ME_VISUAL_ITEM:hover .about_me__logo {
    transform: translate(125%);
  }
  .ABOUT_ME_VISUAL_ITEM__nielsen {
    justify-self: unset;
    grid-area: 1 / 4 / 2 / 5;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .ABOUT_ME_VISUAL_ITEM__lewagon {
    justify-self: unset;
    grid-area: 2 / 4 / 3 / 5;
    transition: transform 0.5s 0.25s ease, opacity 0.5s 0.25s ease;
  }
  .ABOUT_ME_VISUAL_ITEM__ucla {
    justify-self: unset;
    grid-area: 3 / 3 / 4 / 4;
    transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
  }
  .ABOUT_ME_VISUAL_ITEM__tilt {
    justify-self: unset;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: flex-end;
    transition: transform 0.5s 0.25s ease, opacity 0.5s 0.25s ease;
  }
  .ABOUT_ME_VISUAL_ITEM__button {
    justify-self: unset;
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    padding: 0;
    transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
  }
  .ABOUT_ME_VISUAL_ITEM__button span {
    font-size: 1rem;
  }
  .ABOUT_ME_VISUAL_ITEM__button .button__right_icon {
    font-size: 1.25rem;
  }
  .ABOUT_ME.hide .ABOUT_ME_VISUAL_ITEM__nielsen {
    transform: translateX(100%);
  }
  .ABOUT_ME.hide .ABOUT_ME_VISUAL_ITEM__lewagon {
    transform: translateY(-100%);
  }
  .ABOUT_ME.hide .ABOUT_ME_VISUAL_ITEM__ucla {
    transform: translateY(-100%);
  }
  .ABOUT_ME.hide .ABOUT_ME_VISUAL_ITEM__tilt {
    transform: translateX(-100%);
  }
  .ABOUT_ME.hide .ABOUT_ME_VISUAL_ITEM__button {
    transform: translate(-100%);
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}
