.transition_bars {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  row-gap: 1rem;
  z-index: 0;
}

.transition_bars > div {
  width: 100%;
}

.transition_bars .bar_one {
  opacity: 0.8;
  height: 2rem;
}
.transition_bars .bar_two {
  opacity: 0.6;
  height: 1.5rem;
}
.transition_bars .bar_three {
  opacity: 0.4;
  height: 1rem;
}
.transition_bars .bar_four {
  opacity: 0.2;
  height: 0.5rem;
}
