/* mobile */
@media (min-width: 0px) {
  .tabs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: max-content;
  }
  .tabs__selected_underline {
    transition: transform 0.5s ease;
    height: 4px;
    background-image: linear-gradient(to right, var(--blue), var(--blue));
  }
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: max-content;
    padding: 0 1rem;
  }
  .tab:focus-visible {
    outline: 1px solid var(--pink);
  }
  .tab span {
    cursor: pointer;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    color: var(--white);
    transition: color 0.25s ease;
    opacity: 0.5;
  }
  .tab__selected span {
    opacity: 1;
    font-size: 16px;
    color: var(--white);
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
/* laptop/desktop */
@media (min-width: 1025px) {
  .tab span {
    font-size: 1rem;
  }
}
/* huge */
@media (min-width: 1440px) {
}
