/* mobile */
@media (min-width: 0px) {
  .ABOUT_ME {
    padding: 2rem 0;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }

  .about_me__text {
    padding: var(--padding);
  }

  .about_me__visual {
    padding: var(--padding);
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
  .ABOUT_ME {
    max-width: calc(56ch + 2 * var(--padding));
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .ABOUT_ME {
    max-width: initial;
  }
  .about_me__visual {
    padding: var(--padding);
    display: flex;
    justify-content: flex-end;
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .ABOUT_ME {
    max-width: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--padding);
    padding: var(--padding);
  }
  .about_me__text {
    padding: 0;
  }
  .about_me__text .TEXT_CONTENT h2,
  .about_me__text .TEXT_CONTENT > span {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .about_me__text .TEXT_CONTENT .divider,
  .about_me__text .TEXT_CONTENT > .text_content__buttons {
    transition: transform 0.5s 0.25s ease-in-out, opacity 0.5s 0.25s ease-in-out;
  }
  .about_me__visual {
    padding: 0;
  }

  /* .ABOUT_ME.hide .TEXT_CONTENT h2,
  .ABOUT_ME.hide .TEXT_CONTENT > span,
  .ABOUT_ME.hide .TEXT_CONTENT .divider,
  .ABOUT_ME.hide .TEXT_CONTENT > .text_content__buttons {
    transform: translate(-1rem);
    opacity: 0;
  } */
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}
