/* mobile */
@media (min-width: 0px) {
  .ABOUT_ME {
    padding: 2rem var(--padding);
    background-color: var(--black);
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
  }
  .ABOUT_ME .TEXT_CONTENT {
    margin-bottom: 1rem;
  }
  .ABOUT_ME .TEXT_CONTENT h2 {
    text-align: center;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
  .ABOUT_ME {
    max-width: calc(56ch + 2 * var(--padding));
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .ABOUT_ME {
    max-width: var(--app-max-width);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content 1fr 1fr;
    column-gap: 1rem;
  }
  .ABOUT_ME .TEXT_CONTENT {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .ABOUT_ME {
    max-width: var(--app-max-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: var(--padding);
  }
  .ABOUT_ME .TEXT_CONTENT {
    padding: 0;
    grid-area: 1 / 1 / 3 / 3;
  }
  .ABOUT_ME .TEXT_CONTENT h2 {
    text-align: left;
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}
