/* mobile */
@media (min-width: 0px) {
  .ABOUT_ME {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column-reverse;
    padding-top: 80px;
    background-color: var(--black);
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .ABOUT_ME {
    padding-top: 0;
    flex-direction: row;
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .ABOUT_ME {
    padding-top: 0;
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}

/* 

Left side with text

*/

/* mobile */
@media (min-width: 0px) {
  .about_me_left {
    display: flex;
    align-items: center;
    padding: var(--padding-xs);
  }
  .about_me_left .TEXT_CONTENT .divider {
    width: 100%;
  }
  .ABOUT_ME__hide .TEXT_CONTENT h2,
  .ABOUT_ME__hide .TEXT_CONTENT > span,
  .ABOUT_ME__hide .TEXT_CONTENT .divider,
  .ABOUT_ME__hide .button {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100px);
    opacity: 0;
  }

  .ABOUT_ME__show .TEXT_CONTENT h2 {
    transition: transform 0.5s 250ms ease, opacity 0.5s 250ms ease;
    transform: translate(0%);
    opacity: 1;
  }
  .ABOUT_ME__show .TEXT_CONTENT > span {
    transition: transform 0.5s 350ms ease, opacity 0.5s 350ms ease;
    transform: translate(0%);
    opacity: 1;
  }
  .ABOUT_ME__show .TEXT_CONTENT .divider,
  .ABOUT_ME__show .button {
    transition: transform 0.5s 500ms ease, opacity 0.5s 500ms ease;
    transform: translate(0%);
    opacity: 1;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
  .about_me_left {
    padding: var(--padding-s);
    padding-top: var(--padding-xs);
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .about_me_left {
    padding: var(--padding-m);
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .about_me_left {
    padding: var(--padding-m);
    padding-top: var(--padding-xs);
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
  .about_me_left {
    padding: var(--padding-l);
  }
  .about_me_left .TEXT_CONTENT .divider {
    width: calc(0.75 * (100vw - (4 * var(--padding-l))));
  }
}
/* huge */
@media (min-width: 1440px) {
  .about_me_left {
    padding: var(--padding-xl);
  }
  .about_me_left .TEXT_CONTENT .divider {
    width: calc(100vw - (4 * var(--padding-xl)));
  }
}
/* 

Right side with content

*/
.about_me_right {
  padding: var(--padding-xl);
}

.about_me_visual__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease;
  padding: var(--padding-xs);
  position: relative;
}
.about_me_visual__item img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}
.about_me_visual__item__content {
  transition: width 0.5s ease;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
}
.about_me_visual__item__content span {
  text-align: center;
  color: var(--white);
}
.about_me_visual__item__content .title {
  font-weight: bold;
  font-size: 1.25rem;
  background-image: linear-gradient(
    45deg,
    #5bdd66,
    #ea7bfe
  ); /* Gradient definition */
  background-clip: text; /* Clip background to text */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text transparent so the gradient shows through */
}

.about_me_visual__item__content__show {
  transition: width 0.5s ease, opacity 0.5s 250ms ease;
}
.ABOUT_ME__hide .about_me_right .about_me_visual__overlay {
  transition: transform 0.5s 0ms ease;
  transform: translateY(0);
}
.ABOUT_ME__show .about_me_right .about_me_visual__overlay {
  transition: transform 0.5s 250ms ease;
  transform: translateY(110%);
}

/* mobile */
@media (min-width: 0px) {
  .about_me_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-xs);
    padding-top: 0;
  }
  .about_me_right .about_me_visual__overlay {
    background-color: var(--black);
    z-index: 2;
    pointer-events: none;
  }
  .about_me_visual {
    min-width: auto;
    max-width: 56ch;
    height: 300px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
  .about_me_right {
    padding: var(--padding-s);
    padding-bottom: var(--padding-xs);
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .about_me_right {
    padding: var(--padding-m);
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  .about_me_right {
    padding: var(--padding-m);
    padding-bottom: var(--padding-xs);
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
  .about_me_right {
    padding: var(--padding-l);
    max-height: calc(300px + 2 * var(--padding-l));
  }
}
/* huge */
@media (min-width: 1440px) {
  .about_me_right {
    padding: var(--padding-xl);
    max-height: calc(300px + 2 * var(--padding-xl));
  }
}
