.fade_in {
  display: inline-block;
  animation: animateLetter 1s forwards;
}

@keyframes animateLetter {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
