.introduction_section {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.introduction_section__left,
.introduction_section__right {
  width: 100%;
  height: 100%;
  position: relative;
}

.introduction_section__left__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--white);
}

.introduction_section__left__show .introduction_section__left__overlay {
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.introduction_section__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.introduction_section__right {
  padding: var(--padding-xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
