.ACTIONS {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--padding-xs);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.75s ease-in-out;
}

.ACTIONS .ICON_BUTTON:not(:last-child) {
  margin-bottom: 8px;
}
