.tony_intro__show .hi_my_name_is,
.tony_intro__show .tony,
.tony_intro__show .u,
.tony_intro__show .im_a,
.tony_intro__show .frontend,
.tony_intro__show .developer {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transform: translateX(0) !important;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
}

.tony_intro__show .tony,
.tony_intro__show .u {
  transition-delay: 600ms;
}

.tony_intro__show .im_a,
.tony_intro__show .frontend,
.tony_intro__show .developer {
  transition-delay: 1200ms;
}
