/* mobile */
@media (min-width: 0px) {
  .SKILLS {
    padding: 2rem 0;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }

  .skills__text {
    padding: var(--padding);
  }
  .skills__text .TEXT_CONTENT h2 {
    text-align: center;
  }

  .skills__visual {
    padding: var(--padding) 0;
  }
}

/* mobile/tablet */
@media (min-width: 426px) {
  .skills__text {
    display: flex;
    justify-content: center;
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .SKILLS {
    display: grid;
    grid-template-columns: max-content max-content;
    padding: var(--padding);
    column-gap: var(--padding);
  }
  .skills__text {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: flex-start;
    padding: 0;
  }
  .skills__text .TEXT_CONTENT h2 {
    text-align: left;
  }
  .skills__visual {
    grid-area: 1 / 1 / 2 / 2;
    width: max-content;
    padding: 0;
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
  .skills__text .TEXT_CONTENT h2 {
    text-align: left;
  }
}
/* huge */
@media (min-width: 1440px) {
}
