.skills_section {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
}

.skills_section__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-m) 0;
}

.skills_section__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
