.NAV_SIDE_MENU {
  position: fixed;
  background-color: var(--black);
  top: var(--mobile-header-height);
  right: 0;
  height: calc(100% - var(--mobile-header-height));
  z-index: 200;
  left: 0;
  transition: transform 0.25s ease-in-out;
  transform: translateX(101%);
}

.NAV_SIDE_MENU__show {
  transform: translateX(0);
}

.NAV_SIDE_MENU .NAV_BAR {
  padding: 5rem;
  height: calc(100% - var(--mobile-header-height));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.NAV_SIDE_MENU .NAV_BAR ul::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 0;
  left: -2rem;
  bottom: 0;
  background-color: var(--pink);
  box-shadow: 0px 0px 10px var(--white);
}

.NAV_SIDE_MENU .NAV_BAR ul {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100% !important;
  grid-template-rows: repeat(3, 52px) !important;
  position: relative;
  align-items: center;
}

.NAV_SIDE_MENU .ACTIONS {
  right: var(--padding);
}
