:root {
  /* colors */
  --yellow: #f4d35e;
  --black: #13141b;
  --white: #e5e5e5;
  --pistachio: #7ec139;
  --eggplant: #786570;
  --dark-eggplant: #604956;
  --blue: #97aef5;
  --red: #da2c31;
  --gray: #bbb;
  --dark-gray: #555;
  /* padding */
  --padding-xl: 5rem;
  --padding-l: 4rem;
  --padding-m: 3rem;
  --padding-s: 2rem;
  --padding-xs: 1rem;

  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  /* background-color: var(--white); */
  overflow-y: scroll;
  overflow-x: hidden;
}

/* fonts */
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: var(--black);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

@media (max-width: 481px) {
  h1 {
    font-size: 2.75rem;
  }
}

@media (min-width: 482px) and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  h1 {
    font-size: 3.5rem;
  }
}

/* laptop/desktop */
@media (min-width: 1025px) and (max-width: 1440px) {
}
/* tablet/laptop */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* mobile/tablet */
@media (min-width: 429px) and (max-width: 768px) {
}
/* mobile */
@media (max-width: 428px) {
}
