:root {
  --vw: 1vw;
  --vh: 1vh;
  --padding: 1rem;
  --black: #13141b;
  --white: #eee;
  --gray: #bbb;
  --dark-gray: #555;
  --eggplant: #786570;
  --dark-eggplant: #604956;
  --mobile-header-height: 52px;
  --header-height: 76px;
  --app-max-width: 1440px;

  * {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--black);
}

#root {
  height: 100%;
  overflow: hidden;
}

.josefin_sans_bold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* mobile */
@media (min-width: 0px) {
  main {
    height: calc(var(--vh) * 100);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main > section {
    width: 100%;
    max-width: var(--app-max-width);
    height: max-content;
    position: relative;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}

/* 

RWD Template

*/
/* mobile */
@media (min-width: 0px) {
}
/* mobile/tablet */
@media (min-width: 426px) {
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}
