@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-button {
    @apply appearance-none centered h-[30px] w-[30px] p-0;
  }
  .overlay {
    @apply absolute top-0 right-0 left-0 bottom-0;
  }
  .divider {
    @apply h-[2px] bg-[var(--pink)] shadow-pink-glow;
  }
}

@layer utilities {
  .centered {
    @apply flex justify-center items-center;
  }
}

:root {
  --vw: 1vw;
  --vh: 1vh;
  --100vh: calc(100 * var(--vh));
  --100vw: calc(100 * var(--vw));
  --black: #13141b;
  --white: #eee;
  --gray: #bbb;
  --dark-gray: #555;
  --eggplant: #786570;
  --dark-eggplant: #604956;
  --pink: #ea7bfe;
  --green: #5bdd66;
  --mobile-header-height: 52px;
  --header-height: 76px;
  --app-max-width: 1512px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
}

.josefin_sans_bold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
