.NAV_HEADER {
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--black);
}

.nav_header__name {
  font-weight: bold;
  color: var(--white) !important;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.nav_header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_header__nav ul {
  display: grid;
  column-gap: 8px;
}

.nav_header__nav ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease;
}

.nav_header__nav ul li span {
  display: inline-block;
  font-weight: 600;
  color: var(--white);
  transition: color 0.5s ease, font-weight 0.25s ease;
}

.nav_header__nav ul li:hover span {
  color: var(--blue);
}
/* 
.nav_header__nav_scroll {
  position: relative;
  transform: translateY(-0.25rem);
}

.nav_header__nav_scroll ul {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 4px;
}
.nav_header__nav_scroll li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}
.nav_header__nav_scroll li.selected .nav_header__scrollbar__segment {
  background-color: var(--gray);
}

.nav_header__scrollbar__segment {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 4px;
  background-color: var(--dark-gray);
  transition: background-color 0.25s ease;
}

.nav_header__nav_scroll li:hover .nav_header__scrollbar__segment {
  background-color: var(--dark-blue);
  opacity: 1;
}

.nav_header__scrollbar__tracker {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: var(--red);
  top: 23px;
  transform: translateX(-2px);
} */
