@media (min-width: 0px) {
  .ABBY {
    padding: 2rem 0;
    background-color: var(--black);
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
  .abby__description {
    padding: var(--padding);
  }
  .abby__description .TEXT_CONTENT {
    max-width: 56ch;
  }
  .abby__description h2 {
    text-align: center;
  }
  .abby__hero {
    height: 500px;
    padding: var(--padding) 0;
    position: relative;
  }
  .abby__hero__logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .abby__hero__logo img {
    width: 100%;
    object-fit: cover;
  }
  .abby__hero__phone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .abby__hero__phone img {
    max-height: 400px;
  }
  .abby__features__mobile {
    padding: var(--padding);
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .abby__features__mobile .TEXT_CONTENT {
    width: 32ch;
  }
  .abby__features__mobile .TEXT_CONTENT {
    width: 32ch;
  }
  .abby__features__mobile .TEXT_CONTENT .josefin_sans_bold {
    text-align: center;
    margin: 0;
  }
  .abby__features__mobile .TEXT_CONTENT > span,
  .abby__features__mobile .TEXT_CONTENT > .divider {
    display: none;
  }
  .abby__features__mobile .TEXT_CONTENT .text_content__buttons {
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 0;
  }

  .abby__features__mobile .TEXT_CONTENT .button:first-child {
    margin: 0;
  }
  .abby__features__mobile .TEXT_CONTENT .text_content__buttons .button {
    width: 100%;
  }
}
/* mobile/tablet */
@media (min-width: 426px) {
  .abby__description {
    display: flex;
    justify-content: center;
  }
}
/* big tablet */
@media (min-width: 769px) and (orientation: portrait) {
  /* 
  
  ABBY hero section with giant phone
  
  */
  .abby__hero {
    height: 600px;
  }
  .abby__hero__phone img {
    max-height: 500px;
  }
  /* 
  
  ABBY features section with videos
  
  */
  .abby__features {
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--padding);
  }
  .abby__features__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .abby__features__right {
    display: flex;
    justify-content: center;
  }
  .abby__features__videos {
    display: grid;
    row-gap: 1rem;
  }
  .abby__features__videos__carousel {
    position: relative;
    display: flex;
    justify-content: center;
    height: max-content;
    justify-self: center;
  }
  .abby_video_player {
    position: absolute;
    transform: translateX(32px) scale(0.9);
    animation: moveBack 750ms ease-in-out forwards;
    border-radius: 25px;
    overflow: hidden;
  }
  .abby_video_player__selected {
    animation: moveUp 750ms ease-in-out forwards;
  }
  .abby_video_player video {
    height: 70vh;
    max-height: 500px;
    border-radius: 25px;
    border: 6px solid #222;
  }
}
/* tiny laptop */
@media (min-width: 769px) and (orientation: landscape) {
  .ABBY {
    row-gap: 0;
  }
  /* 
  
  ABBY hero section with giant photo of phone
  
  */
  .abby__hero {
    height: calc(100 * var(--vh));
  }
  .abby__hero__phone img {
    max-height: calc(70 * var(--vh));
  }
  /* 
  
  ABBY features section with videos
  
  */
  .abby__features {
    padding: var(--padding);
    display: grid;
    grid-template-columns: minmax(50%, max-content) 1fr;
    column-gap: var(--padding);
  }
  .abby__features__left {
    /* padding: var(--padding); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .abby__features__right {
    /* padding: var(--padding); */
    display: flex;
    justify-content: center;
  }
  .abby__features__videos {
    display: grid;
    row-gap: 1rem;
  }
  .abby__features__videos__carousel {
    position: relative;
    display: flex;
    justify-content: center;
    height: max-content;
    justify-self: center;
  }
  .abby_video_player {
    position: absolute;
    transform: translateX(32px) scale(0.9);
    animation: moveBack 750ms ease-in-out forwards;
    border-radius: 25px;
    overflow: hidden;
  }
  .abby_video_player__selected {
    animation: moveUp 750ms ease-in-out forwards;
  }
  .abby_video_player video {
    height: 70vh;
    max-height: 550px;
    border-radius: 25px;
    border: 6px solid #222;
  }
}
/* laptop/desktop */
@media (min-width: 1025px) {
}
/* huge */
@media (min-width: 1440px) {
}

@keyframes moveUp {
  0% {
    transform: translateX(32px) scale(0.9); /* Start at original position */
    z-index: 0;
  }
  50% {
    transform: translateX(300px) scale(1); /* Move 100px to the right */
    z-index: 0;
  }
  70% {
    z-index: 1;
  }
  100% {
    transform: translateX(0); /* Move back, but slightly more to the left */
    z-index: 1;
  }
}

@keyframes moveBack {
  0% {
    transform: translateX(0) scale(1); /* Start at original position */
    z-index: 1;
  }
  50% {
    transform: translateX(0px) scale(0.9); /* Move 100px to the right */
    z-index: 1;
  }
  70% {
    z-index: 0;
  }
  100% {
    transform: translateX(32px) scale(0.9); /* Move back, but slightly more to the left */
  }
}
